<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core" 	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets" 	template="/template/template.xhtml">
	<ui:param name="page_name" value="Connexion" />
	<ui:define name="menu">
			<h:form id="form">
				<strong>Welcome Everyone!</strong>
				
			</h:form> 
	</ui:define> 
</ui:composition> 
 